[Unit]
Description=Redmine Unicorn Server
After=postgresql-11.service

[Service]
WorkingDirectory={{ redmine.install_dir }}
Environment=RAILS_ENV=production
SyslogIdentifier=redmine-unicorn
PIDFile={{ redmine.install_dir }}/tmp/unicorn.pid

User={{ redmine.owner }}
ExecStart=/usr/bin/bundle exec unicorn_rails -D -c config/unicorn.rb -E production  --path /{{ redmine.path }}
ExecStop=/bin/kill -QUIT $MAINPID
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
